@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --color-background: rgb(19, 18, 31);
  --color-background-transparency: rgb(19, 18, 31, 0.85);
  --color-primary: #8855ff;
  --color-secondary: #a990e1;
  --color-text: #ffffff;

  --font-size-title: 1.5rem;
  --font-size-big-title: 2.3rem;
  --font-size-sub-title: 1.2rem;
  --font-size-default: 1rem;
  --font-style: 'Inter', sans-serif;

  --config-max-width-screen: 1600px;
}

