@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

:root {
  --color-background: rgb(18, 23, 29);
  --color-background-transparency: rgb(18, 23, 29, 0.85);
  --color-primary: #55b3ff;
  --color-secondary: #6893b6;
  --color-terciary: #2a343b;
  --color-text: #ffffff;

  --font-size-title: 1.5rem;
  --font-size-big-title: 3rem;
  --font-size-sub-title: 1.2rem;
  --font-size-description: 1.175rem;
  --font-size-default: 1rem;
  --font-style: 'Inter', sans-serif;

  --config-max-width-screen: 1600px;
}

@media only screen and (max-width: 1300px) {
  :root {
    --font-size-sub-title: 1rem;
    --font-size-big-title: 2.5rem;
    --font-size-description: 1rem;
    --font-size-default: 0.875rem;
  }
}